html {
    scroll-behavior: smooth;
}


/* Nav Bar */


#navBar {
    width: 100%;
    background-color: #B5B8CF;
    z-index: 11;
    position: absolute;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: top 0.4s;
}

#navBar a {
    padding: 15px 10px 15px 12px;
    font-size: 22px;
    color: #1D1F2C;
    text-decoration: none;
}

.logo {
    padding: 15px 10px 15px 12px;
    border-right: 2px #1D1F2C solid;
}

.navLinks {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}

.navLinks a {
    padding: 15px 10px 15px 12px;
}

.introLink {
    border-right: 2px #1D1F2C solid;

}

#navBar a:hover {
    background-color: #1D1F2C;
    color: #B5B8CF;
}


/* BANNER */


#banner {
    height: 100vh;
    width: 100%;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

#banner .bannerCaption {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}

.bannerCaption h1 {
    font-size: 80px;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

.bannerCaption p {
    font-size: 40px;
    font-family: 'Crimson Text', serif;

}

#banner::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}


/* ABOUT ME */


#aboutMe {
    height: 25vh;
    color: #1D1F2C;
    background-color: #554A59;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    margin-top: -14px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#aboutMe h2, #aboutMe p {
    color: white;
}

#aboutMe h2 {
    font-size: 40px;
    font-family: 'Syne', sans-serif;

}

#aboutMe p {
    font-size: 25px;
    font-family: 'Bitter', serif;
    margin: 0 200px 0 200px;
}

/* FILTER CONTIANER */


#filterFeatures {
    background-color: #1D1F2C;
    display: flex;
    justify-content: space-between;
}

#tableSearch {
    background-color: #B5B8CF;
    color: #1D1F2C;
    width: 20%;
    font-size: 20px; 
    padding: 8px 10px 8px 20px; 
    border: 2px solid #A997BA; 
    margin: 12px 12px 12px 0; 
}

.filterButtons {
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
}

.filterButtons p {
    color: #1D1F2C;

}

.filter {
    background-color: #B5B8CF;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 10px 0 10px;
    border: #1D1F2C 5px solid;
    border-radius: 15px;
}

.filter:hover {
    background-color: #726478;
    color: #B5B8CF;
    cursor: pointer;
}

/* DATA TABLE */



#dataBox {
    overflow-y: scroll;
    background-color: #BE9E87;
    display: flex;
    justify-content: center;
    
}

#dataBox thead, #dataBox th {
    position: sticky;
    top: 0;
}

.tableBox {
    height: 90vh;
    width: 100%;
    background-color: #1D1F2C;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
    border: 2px solid #ccc;
    
}

th {
    background: #1D1F2C;
    color: white;
}

td {
    background-color: #A997BA;
}

.tableDesc {
    font-size: 15px;
}

tfoot {
    background-color: #1D1F2C;
    height: 3vh;
}

th:hover {
    background-color: #726478;
}


/* FOOTER */


footer {
    background-color: #1D1F2C;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* MEDIA QUERIES */


@media all and (max-width: 1500px) {
    .bannerCaption h1 {
        font-size: 65px;
    }

    .bannerCaption p {
        font-size: 40px;
    }

    #aboutMe {
        padding: 20px 30px;
    }

    #aboutMe h2 {
        font-size: 28px;
    }

    #aboutMe p {
        font-size: 20px;
        margin: 0 25px 0 25px;
    }
}

@media all and (max-width: 1200px) {
    .bannerCaption h1 {
        font-size: 65px;
    }

    .bannerCaption p {
        font-size: 40px;
    }

    #aboutMe {
        padding: 20px 30px;
    }

    #aboutMe h2 {
        font-size: 23px;
    }
    #aboutMe p {
        font-size: 18px;
        margin: 0 25px 0 25px;
    }
}

@media all and (max-width: 900px) {
    .bannerCaption h1 {
        font-size: 50px;
    }

    .bannerCaption p {
        font-size: 25px;
    }

    #aboutMe {
        padding: 10px 20px;
    }

    #aboutMe h2 {
        font-size: 20px;
    }

    #aboutMe p {
        font-size: 15px;
        margin: 0 20px 0 20px;
    }
}

@media all and (max-width: 700px) {
    .bannerCaption h1 {
        font-size: 50px;
    }

    .bannerCaption p {
        font-size: 25px;
    }

    #aboutMe {
        padding: 7px 15px;
    }

    #aboutMe h2 {
        font-size: 15px;
    }

    #aboutMe p {
        font-size: 10px;
        margin: 0 15px 0 15px;
    }

    #tableSearch {
        font-size: 17px;
    }
}

@media all and (max-width: 450px) {
    .bannerCaption h1 {
        font-size: 50px;
    }

    .bannerCaption p {
        font-size: 25px;
    }

    #aboutMe {
        padding: 5px 10px;
    }

    #aboutMe h2 {
        font-size: 13px;
        margin: 10px;
    }

    #aboutMe p {
        font-size: 10px;
        margin: 0 10px 0 10px;
    }

    .filterButtons p {
        font-size: 13px;
    }

    #tableSearch {
        font-size: 13px;
        padding: 0 50px 0 5px;
        align-self: flex-end;
    }

    th {
        font-size: 13px;
    }

    td {
        font-size: 12px;
    }
}

@media all and (max-width: 300px) {
    .bannerCaption h1 {
        font-size: 35px;
    }

    .bannerCaption p{
        font-size: 20px;
    }
    
    #aboutMe h2{
        font-size: 12px;
    }

    #aboutMe p {
        font-size: 9px;
    }

    .filterButtons p {
        font-size: 10px;
    }
}